@import "~vtex-css-utils/less/_css-utils";

.ListProduct {

  &___grid-item {
    background: #FFF;
  }

  &__image-wrapper {
    border-radius: 2.5px;
    background: #F6F6F6;
    position: relative;
    min-height: 200px;
    overflow: hidden;

    @media (min-width: @screen-md-min) {
      min-height: 245px;
    }
  }

  &__image {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: auto;
    position: absolute;
    height: auto;
    width: 100%;
  }

  &__name {
    font-family: 'Lato';
    font-size: 1.3em;
    font-weight: 300;
    margin-top: 0px;
    color: #333;
  }

  &__button {
    .css-utils-clean-btn();
    .css-utils-no-outlines();
    border-radius: 2.5px;
    color: #FFF;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 7.5px;
    padding: 10px 15px;

    &:hover {
      color: darken(#FFF, 5%);
    }
  }

  &__price-by {
    color: #337ab7;
    font-size: 1.35em;
    font-weight: 500;
  }

  &__price-from {
    color: #666;
    font-size: 14px;
    font-weight: 400;

    .ListProduct__price-strike {
      text-decoration: line-through;
    }
  }
}
