@import "~vtex-css-utils/less/_css-utils";
@import '../../theme-variables.less';

.GridProduct {

  &.unavailable {
    .GridProduct__image-wrapper, .GridProduct__name {
      opacity: .4;
    }
    .GridProduct__price, .GridProduct__price-strike {
      display: none;
    }
  }

  .label-unavailable {
    opacity: .7;
  }

  &__name {
    font-family: @sub-title-font;
    font-size: 18px;
    letter-spacing: .03em;
    a {
      color: @secondary-color;
    }
  }

  &__price-from {
    color: @secondary-color;
    font-size: .8em;
  }

  &__price-by {
    color: @primary-color;
    font-size: 1em;
    @media (min-width: @screen-md-min) {
      font-size: 1em;
    }
  }

}
